.piece-nav-button {

    display: grid;
    width: 48px;
    height: 48px;
    justify-self: center;
    align-self: center;
    place-items: center;
    border-radius: 16px;
    cursor: var(--cursor-pointer);

    * {pointer-events: none;}
    input { display: none;}

    .piece-label {
        font-size: 12px;
        text-transform: capitalize;
        display: none;
    }

    &:has(input:checked) {
        .icon {font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;}
    }

    &:has(.piece-label):not(:has(.piece-icon)) { padding: 0 16px;}

    &:has(input:checked) .piece-icon {font-variation-settings:'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 24;}

}