body {
    display: grid;
    grid-template-rows: auto 1px 1fr;
    height: 100dvh;
    overflow: hidden auto;
    position: relative;

    &>header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        justify-items: end;
        padding: 16px;
        height: 80px;
        position: sticky;
        top: 0;

        #titulo {

            display: grid;
            grid-template: 'svg h1' 'svg h2';
            grid-template-columns: auto auto;
            gap: 0px 16px;
                        
            &>svg {
                --size: 48px;
                width: var(--size);
                height: var(--size);
                grid-area: svg;
            }
            &>h1 {
                font-size: 20px;
                font-weight: 900;
                grid-area: h1;
                align-self: end;
            }
            &>h2 {
                font-size: 12px;
                font-weight: 500;
                grid-area: h2;
                align-self: start;
            }
        }

        #m-nav {
            display: grid;
            grid-auto-flow: column;
            gap: 16px;
        }
    }

    &>main {
        display: grid;
    }

    &>aside {
        display: grid;
        position: fixed !important;
        inset-inline: 0;
        margin-inline: auto;
        bottom: 16px;
        grid-auto-flow: column;
        place-content: center;
        gap: 16px;
        padding: 4px;
        width: min-content;
        height: min-content;
        border-radius: 100vh;
        z-index: 1;
    }
}


.rangeWrap {
    width: 40%;

    &>*:not(input) {
        pointer-events: none;
    }
}

.rangeWrap input {
    width: 100%;
    margin: 0;
}

.rangeWrap .ticks {
    display: flex;
    justify-content: space-between;
    height: 6px;
    margin: -1.5em 5px 0 6px;
    font: 10px Arial;
    counter-reset: count 0;

}

.rangeWrap .ticks>div {
    height: 100%;
    width: 1px;
    background: silver;
    counter-increment: count 1;
}

.rangeWrap .ticks>div {
    height: 200%;
}

.rangeWrap .ticks>div::before {
    display: block;
    content: counter(count);
    transform: translate(-50%, 100%);
    text-align: center;
    width: 16px;
}

.pieces-input {
    display: grid;
    width: 100%;

    &>*:not(input) {
        pointer-events: none;
    }

    &>input {

        --input-background: hsla(var(--h),var(--s),calc(var(--surface-background) var(--tema-calc) 8%),var(--a));
        --input-color: hsla(var(--h),var(--s),calc(var(--surface-color) var(--tema-calc) 20%),var(--a));

        all: unset;
        background: var(--input-background);
        color: var(--input-color);
        padding: 4px;
        border-radius: 50px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: hsla(var(--h),var(--s),48%,var(--a));
        }
    }

    .ticks {
        display: flex;
        justify-content: space-between;
        height: 16px;
        margin-top: -16px;
        margin-inline: 16px;
        font: 10px Arial;
        counter-reset: count 0;

        &>div {
            height: 200%;
            width: 1px;
            background: silver;
            counter-increment: count 1;

            &::before {
                display: block;
                content: counter(count);
                transform: translate(-50%, 200%);
                text-align: center;
                width: 16px;
            }
        }
    }
}